<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/display_source_code.css">
    <title>Something</title>
</head>
<body style="display:contents;">
    <div>
        <h1>Codigo fuente</h1>
        <table>
            <tr>
                <th>
                    Lineas
                </th>
            </tr>
            {{ range . }}
            <tr>
                <th>
                    {{ . }}
                </th>
            </tr>
            {{ end }}
        </table>
    </div>
</body>
</html>